.row {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align:center;
  }
  .leftside{
    height: 100vh;
    width: 5%;
    background:rgba(224, 223, 223, 0.8);
    border: solid 1px silver;
  }
  .rightside{
    width: 94%;
    overflow: auto;
    border: solid 1px silver;
    background:rgba(192, 189, 189, 0.8);
  }
  .group-btn{
    margin: auto;
  }
  .btn{
    width: 95% !important;
    height: 3.5rem !important;
    text-align: center !important;
    margin-bottom: 2px !important;
    border-radius: 0.2 !important;
    background-color: Transparent !important;
    transition-duration: 0.2s !important;
  }
  .btn:hover {
    color: rgb(86, 93, 202) !important;
  }