.danger, .info, .warning, .good{
    /* max-width: 350px; */
    overflow: hidden;
    font-size: 1rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    border-radius: .25rem;
    text-align: center;
}
.danger{
    border: solid 2px  rgba(214, 52, 52,0.3);;
}
.good{
    border: solid 2px  rgba(19, 138, 25, 0.3);;
}
.warning{
    border:solid 2px rgba(194, 149, 65,0.3);
}
.info{
    border: solid 2px  rgba(0,0,0,0.3);;
}
.danger-h3,.warning-h3,.info-h3,.good-h3{
    padding: .25rem .75rem;
    background-color: rgba(255,255,255,.85);
    border-bottom: 1px solid rgba(0,0,0,.05);

    font-size: 1rem;
}
@media (max-width : 800px){
    .danger-h3,.warning-h3,.info-h3,.good-h3{
    font-size: 1rem;
    }
}
.good-h3{
    color: rgba(19, 138, 25);
    border-bottom: 1px solid  rgba(19, 138, 25);;
}
.danger-h3{
    color: rgb(214, 52, 52);
    border-bottom: 1px solid  rgb(214, 52, 52);;
}
.warning-h3, .warning-p{
    color: rgb(194, 149, 65);
}
.warning-h3{
    border-bottom: 1px solid rgb(194, 149, 65);
}
.info-h3, .info-p{
    color: rgb(19, 17, 17);
}
.info-h3{
    border-bottom: 1px solid  rgb(19, 17, 17);;
}
.danger-p,.warning-p,.info-p,.good-p{
    font-size: 1rem;
    font-weight: bold;
}
@media (max-width : 800px){
    .danger-p,.warning-p,.info-p,.good-p{
    font-size: 0.5rem;
    }
}
.danger-p{
    color: rgb(131, 22, 22);
}
.good-p{
color: rgba(19, 138, 25);
}
