.panel-region {
  padding: 0;
}
  @media (max-width : 900px ){
    .panel-region {
      font-size: 12px;
    }
  }
  @media (max-width : 730px ){
    .panel-region {
      font-size: 10px;
    }
  }
  @media (max-width : 630px ){
    .panel-region {
      font-size: 8px;
    }
  }
  @media (max-width : 530px ){
    .panel-region {
      font-size: 6px;
    }
  }