html, body { margin:0; padding:0; overflow:hidden }
.svg{
  /* border-style:dashed; */
  background-color:steelblue;
  position:relative; top:0; bottom:0; left:0; right:0;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.morocco{
  cursor: pointer;
  fill: ghostwhite;
  /* background-image: url('https://homepages.cae.wisc.edu/~ece533/images/cat.png') */
}
.marker-red{
  fill: rgba(216, 8, 8, 0.5);
  stroke: whitesmoke;
  stroke-width: 0.5 ;
  cursor: pointer;

}
.marker-red:hover { 
  stroke: rgb(255, 255, 255);
  fill: rgba(31, 1, 1, 0.5);
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}