html, body { margin:0; padding:0; overflow:hidden }
.svg{
  /* border-style:dashed; */
  background-color:steelblue;
  position:relative; top:0; bottom:0; left:0; right:0;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.morocco{
  cursor: pointer;
  fill: ghostwhite;
}
.marker-red{
  fill: rgba(216, 8, 8, 0.5);
  stroke: whitesmoke;
  stroke-width: 0.5 ;
  cursor: pointer;

}
.marker-red:hover { 
  stroke: rgb(255, 255, 255);
  fill: rgba(31, 1, 1, 0.5);
}