html, body { margin:0; padding:0; overflow:hidden }
.svg{
  /* border-style:dashed; */
  background-color:rgb(110, 156, 156);
  position:relative; top:0; bottom:0; left:0; right:0;
  border-radius: 4px;
  margin-bottom: 1rem;
  /* position:fixed;
  margin-left: 5%;
  margin-right: 5%; */
   /* height:50%; width:80% */
}

.morocco{
  cursor: pointer;
  fill: rgb(31, 37, 37);
}
/* .morocco:hover{
  stroke-width: 1.5;
  stroke: rgb(255, 255, 255);
} */
.marker-red{
  fill: rgba(216, 8, 8, 0.5);
  stroke: whitesmoke;
  stroke-width: 0.5 ;
  cursor: pointer;

}
.marker-red:hover { 
  stroke: rgb(255, 255, 255);
  fill: rgba(31, 1, 1, 0.5);
}
.rect {
  width: 15%;
  height: 15%;
  fill: #69c;
  stroke: #069;
  stroke-width: 5px;
  opacity: 0.5
}